## NOTE: To build the image please uncomment the workflow

# name: build-and-push-image
# on:
#   push:
#     branches:
#       - main
#       - master
#     tags:
#       - "v*.*.*"
# jobs:
#   build_and_push:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#       - name: Get tag metadata
#         id: meta
#         uses: docker/metadata-action@v3
#         with:
#           images: |
#             ghcr.io/nalbury/promql-cli
#           tags: |
#             type=ref,event=branch
#             type=semver,pattern={{version}}
#       - name: Set up QEMU
#         uses: docker/setup-qemu-action@v1
#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v1
#       - name: Login to GitHub Container Registry
#         uses: docker/login-action@v1
#         with:
#           registry: ghcr.io
#           username: ${{ github.repository_owner }}
#           password: ${{ secrets.GITHUB_TOKEN }}
#       - name: Build and Push
#         uses: docker/build-push-action@v2
#         with:
#           context: .
#           platforms: linux/amd64,linux/arm64
#           tags: ${{ steps.meta.outputs.tags }}
#           labels: ${{ steps.meta.outputs.labels }}
#           push: true
