name: Test
on:
  push:
    branches:
    - master
    paths-ignore:
    - "README.md"
  pull_request:
    paths-ignore:
    - "README.md"
jobs:
  test:
    strategy:
      matrix:
        go-version:
        - 1.19
        os:
        - ubuntu-20.04
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test ./...
